@import 'https://fonts.googleapis.com/css?family=Karla';


*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
	font-family: 'Karla', 'Helvetica', sans-serif;
    background-color: #E6E6FA;
    font-size: 16px; /*1em = 16px*/
    text-align: left;
    color: rgb(0,0,0);
    line-height: 1.3em;
    align-content: center;
   
}

header
{
	padding: 20px;

}

nav a{
	color: rgb(0,0,0);
	padding: 20px;
	margin: auto;
	align-content: center;
	text-align: center;
	text-decoration: none;
}


.portfolio {

}

img{
	width: 50%;
}


main{
	padding: 20px;
	width: 600px;
}

section{
	padding: 20px;
}

h1
{
	color: rgb(0,0,0);
	line-height: 1.5em;
}

h2
{
	color: rgb(0,0,0);
	line-height: 1.5em;
}

p
{
	color: rgb(0,0,0);
	line-height: 1.5em;
}

a{
	color: inherit;
	text-decoration: underline;
}

footer{
	padding: 20px;
	width: 600px;
}

