@import 'https://fonts.googleapis.com/css?family=Karla';


*{
	padding:0;
	margin:0;
}


body {
	font-family: 'Karla', 'Helvetica', sans-serif;
    font-size: 16px; /*1em = 16px*/
    text-align: left;
    color: rgb(0,0,0);
    line-height: 1.3em;
    position: relative;
   
}

#wrapper {
	width: 85%;
	margin: 0 auto;
	align-content: center;

}


header
{
	padding: 1.25em; /*remove later*/
	width: 83.3333%;
	margin-top: 3em;

}

nav{
	padding: 1.25em; /*remove later*/
	margin-top: 1.5em;
	float: left;
}

nav a{
	font-size: 1.15em;
	color: rgb(0,0,0);
	padding-right: 1.25em;
	align-content: center;
	text-align: center;
	text-decoration: none;
}


// added this as a container for the two column images
.two-column {
	width: 100%;
	text-align: center;
	align-content: center;
}

img{
	width: 45%; /*made this width less than 50% incase you wanted to add some space between each image*/
	display: inline-block;
	margin: 0.25em;
	padding: 0.25em;

}


main{
	margin-top: 3em;
	align-content: center;
}



/* no need for the floating left */
.portfolio {
	width:100%;
	// margin:1.5%;

}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
}


h1
{
	color: rgb(0,0,0);
	font-size: 3.4em;
	line-height: 1.5em;
	font-weight: 500;
}

h2
{
	color: rgb(0,0,0);
	font-size: 3.4em;
	line-height: 1.5em;
	font-size: 300;
}

p
{
	color: rgb(0,0,0);
}

a{
	color: inherit;
	text-decoration: underline;
}

footer{
	padding: 1.25em;
	width: 75%;
}

@media screen and (max-width:1000px) {

 	body {
	font-size: 14px; 
	line-height: 1em;
	}
}

@media screen and (max-width:910px){
	nav{
	display: none;
	}

	nav a:link{
	display: block;
	padding:15px;
	margin:5px;
	}

	img {
	width: 100%; /*made this width less than 50% incase you wanted to add some space between each image*/
	display: inline-block;
	margin: 0.25em;
	padding: 0.25em;
	}

	body {
	font-size: 12px; 
	line-height: 1em;
	}
}


@media screen and (max-width:590px) {

	body {
	font-size: 8px;
	line-height: 1em;
	}

	footer{
	font-size: 12px;
	width: 100%;
	line-height: 1.2em;
	}

}





