body {
    background-color: #E6E6FA;
    text-align: center;
    background-image: <img src="images/portfolio15.jpg" alt="portfolio" title="todblg" 
>
}

h1, p {
	color: #2F4F4F;
	font-style: italic;
}
p {
    font-family: "Times New Roman", Times, serif;
}
h1 {
    font-size: 3.75em; 
}
p {
    font-size: 3.75em; 
}

